<!DOCTYPE html>
<html>
<head>
<link href="/styles.css" rel="stylesheet" media="all">
</head>
<body>

<h1>Hello there!!</h1>
<p class="something">Welcome to BarberShop!!!</p>
<p>We are open!</p>
<form action="/" method="POST">
	Your name: <br />
	<input type="text" name="username" /><br />
	Your phone number: <br />
	<input type="text" name="phone" /><br />
	Day and time, when you want to come: <br />
	<input type="text" name="time" /><br />
	<input type="submit" />
</form>

</body>
</html>