<h1>
Welcome to BarberShop!!!
</h1>
<p>
	We are open!
</p>
<form action="/" method="POST">
	Your name: <br />
	<input type="text" name="username" /><br />
	Your phone number: <br />
	<input type="text" name="phone" /><br />
	Day and time, when you want to come: <br />
	<input type="text" name="time" /><br />
	<input type="submit" />
</form>